/* my_page\static\css\index.css */

ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style-type: none;
    /*background-color: #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 35rem;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1px;

}

ul li {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 2rem 1rem;
}

ul a:hover, ul a:active {
  color: #eca8b5;
}


h1 {
    color: #e8dede;
    text-align: center;
    font-size: 48px;
}